@import 'vars';

html,
body {
  height: 100%;
  color: $default-color;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  //max-width: 1140px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

h3{
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}
h6 {
  font-size: 18px;
  line-height: 29px;
}
