@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-top {
  background: $main-grey;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
  }
}

.header-top-menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 740px;
  }
  &__list-link {
    color: $header-font-grey;
  }
}

.header-top-city {
  display: flex;
  justify-content: space-between;
  &__name {
    padding-left: 7px;
    color: $default-color;
  }
  &__icon {
    align-self: flex-end;
  }
}

.header-top-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__mail {
    padding-left: 5px;
    color: $header-font-grey;
  }
}

.header-bottom {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    //padding-top: 16px;
    //padding-bottom: 17px;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    //padding-bottom: 10px;
  }
  &__icon {
    display: flex;
    padding: 0 17px;
    //align-items: baseline;
    //&:first-of-type {
    //  &::before {
    //    top: 19px;
    //  }
    //}
    &:last-of-type {
      padding-right: 0;
      //&::before {
      //  top: 21px;
      //}
    }
    &::before {
      position: relative;
      //width: 1px;
      right: 17px;
      height: 37px;
      content: "";
      //top: 10px;
      border-left: 0.8px solid #F0F0F0;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //align-self: flex-end;
    height: 43px;
    padding-left: 21px;
  }
  &__phone-icon {
    align-self: center;
    //width: 16.5px;
    height: 21px;
    //padding-top: 5px;
    margin-top: 5px;
  }
  &__text-block {
    align-self: flex-end;
    margin-left: 14px;
  }
  &__phone-number {
    font-size: 14.94px;
    line-height: 18px;
  }
  &__phone-text {
    font-size: 8.45626px;
    line-height: 10px;
    color: #727272;
  }
  &__search {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 440px;
    height: 43px;
    margin-left: 20px;
    padding-left: 15px;
    color: #C9C9C9;
    border: 2px solid $header-green;
    border-radius: 4px;
  }
  &__search-input {
    background-color: transparent;
  }
  &__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 2px 0 0 2px;
    background: $header-green;
  }
  &__search-icon {
    width: 19px;
    height: 19px;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 44px;
    margin-left: 16px;
    padding-right: 32px;
    padding-left: 19px;
    color: #F4F4F4;
    border-bottom-width: 0;
    border-radius: 4px;
    background: $header-green;
  }
  &__button-icon {
    height: 14px;
  }
  &__logo {
    height: 37px;
  }
}

.main {
}

.left-sidebar {
  width: 270px;
}

.sidebar-menu {
  margin-bottom: 32px;
  padding-top: 18px;
  border-radius: 5px;
  background: $main-grey;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 643px;
    padding-bottom: 70px;
    border-bottom: 1px solid #F0F0F0;
  }
  &__item {
    //margin-bottom: 20px;
    &:last-of-type .sidebar-menu__link {
      color: #FE0000;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    padding-left: 15px;
    color: $default-color;
  }
  &__icon {
    height: 22px;
    margin-right: 15px;
  }
  &__full {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    height: 61px;
    padding: 20px 0 20px 15px;
    color: #9D9D9D;
    &--underline {
      height: auto;
      padding: 15px 22px 18px;
      text-decoration: underline;
    }
  }
}

.certificates {
  //padding: 22px 20px 19px;
  border-radius: 4px;
  background: $main-grey;
  &__title {
    font-size: 16.6279px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 22px 20px 0;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 33px;
    border-bottom: 1px solid #F0F0F0;
  }
  &__image {
    width: 112px;
    height: 157px;
  }
}

.manufacturers {
  padding: 26px 25px 15px;
  &__title {
    font-size: 16.63px;
    line-height: 22px;
    margin-bottom: 49px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-gap: 12px;
    column-gap: 12px;
  }
  &__image{
    margin: 0 auto;
  }
}

.footer {
  background: $main-grey;
  .footer-top {
    padding-top: 45px;
    padding-bottom: 43px;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__left,
    &__right {
      display: flex;
      width: 50%;
      //justify-content: space-between;
    }
    &__social,
    &__about {
      width: 100%;
      max-width: 270px;
    }
    &__social {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
    &__social-logo {
      width: 88px;
      height: 88px;
      margin-bottom: 29px;
    }
    &__social-list {
      display: flex;
      margin-top: 14px;
      margin-bottom: 57px;
    }
    &__social-item {
      margin-right: 14px;
    }
    &__copyright {
      font-size: 11.7757px;
      line-height: 17px;
      color: #A0A0A0;
    }
    &__about-title {
      margin-bottom: 13px;
    }
    &__about-item {
      @extend %footer-text;
      margin-bottom: 13px;
    }
    &__about-link {
      color: $footer-grey;
    }
    &__right {
      flex-direction: column;
      margin-left: 20px;
    }
    &__top-row {
      display: flex;
      margin-bottom: 56px;
    }
    &__info,
    &__contacts {
      width: 100%;
      max-width: 270px;
    }
    &__info {
      margin-right: 20px;
    }
    &__contacts-title {
      margin-bottom: 13px;
    }
    &__contacts-item {
      @extend %footer-text;
      display: flex;
      align-items: center;
      margin-bottom: 13px;
    }
    &__contacts-city {
      font-size: 10.6531px;
      line-height: 17px;
      margin-left: 18px;
      color: #969696;
    }
    &__pay-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 421px;
    }
  }
  .footer-bottom {
    margin-bottom: 12px;
    background: #F3F3F3;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__text {
      font-size: 8.71972px;
      line-height: 12px;
      width: 354px;
      margin-top: 26px;
      color: #9C9C9C;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      width: 560px;
      height: 43px;
      margin: 23px 0 27px;
      border: 2px solid #6FC5BA;
      border-radius: 4px;
    }
    &__input {
      font-size: 12px;
      width: 100%;
      padding-left: 22px;
      color: #C5C5C5;
      background: transparent;
    }
    &__button {
      font-size: 12px;
      width: 135px;
      color: $white;
      border-radius: 2px 0 0 2px;
      background: $header-green;
    }
  }
}



