@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header-top {
    background: #FAFAFA;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
  }
}

.header-top-menu{
  &__list{
    display: flex;
    justify-content: space-between;
    width: 740px;
    align-items: center;
  }
  &__list-link{
    color: $header-menu-color;
  }
}

.header-top-city{
  display: flex;
  justify-content: space-between;
  &__name{
    padding-left: 7px;
    color: $default-color;
  }
  &__icon{
    align-self: flex-end;
  }
}

.header-top-email{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__mail{
    padding-left: 5px;
  }
  &__mail{
    color: $header-menu-color;
  }
}

.header-bottom{
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    padding-top: 16px;
    padding-bottom: 17px;
  }
  &__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__phone{
    display: flex;

  }
  &__search{
    display: flex;
  }
  &__button{
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 44px;
    border-radius: 4px;
    border-bottom-width: 0;
    background: #6FC5BA;
    align-items: center;
    padding-left: 19px;
    padding-right: 32px;
    color: #F4F4F4;
  }
  &__button-icon{
    height: 14px;
  }
}



